body {
  background: olive;
}
h1 {
  color: bisque;
  border: 2px solid black;
  border-radius: 3px;
  border-style: solid;
  text-align: center;
  font-size: 18px;
}
.bender {
  border: 2px solid black;
}

.some-div {
  color: "olive";
}
