body {
  background: rgb(206, 206, 205);
}
h1 {
  color: bisque;
  border: 2px solid black;
  border-radius: 3px;
  border-style: solid;
  text-align: center;
  font-size: 18px;
}
.bender {
  border: 2px solid black;
}

#my-name {
  color: blue;
}
